{
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },
  "presets": ["es2015", "react", "stage-0"],
    "plugins": [
      "transform-runtime",
      ["module-alias", [
        { "src": "./src/components", "expose": "components" },
        { "src": "./src/containers", "expose": "containers" },
        { "src": "./src/utils", "expose": "utils" },
        { "src": "./src/reducers", "expose": "reducers" },
        { "src": "./static", "expose": "static" }
      ]]
    ]
}