{
  "extends": [
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/react"
  ],

  "plugins": [
    "prettier"
  ],

  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }    
  },

  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "es5",
      "singleQuote": true
    }]
  }
}
