// *************************************
//
//   Buttons
//
// *************************************

@import "../../Utility/variables";
@import "../../Utility/mixin";


// -------------------------------------
//   Button Color Helper
// -------------------------------------

@mixin button-color($buttonName, $buttonBackground, $buttonColor, $buttonStyle) {
  // Solid Button
  @if $buttonStyle != "ghost" {
    &.#{$buttonName} {
      background-color: $buttonBackground;
      color: $buttonColor;
      &:hover, &.active {
        background-color: darken($buttonBackground, 20%);
      }
    }
  }
  // Ghost Button
  @else {
    &.#{$buttonName} {
      background-color: transparent;
      color: $buttonBackground;
      border: 1px solid $buttonBackground;
      &:hover, &.active {
        background-color: $buttonBackground;
        color: $buttonColor;
      }
    }
  }
}

// Color Palette
@mixin button-color-palette($buttonStyle) {
  @include button-color('dark', $c-dark, $c-light, $buttonStyle);
  @include button-color('light', $c-light, $c-dark, $buttonStyle);
  @include button-color('primary', $c-primary, $c-light, $buttonStyle);
}


// -------------------------------------
//   Button Size Helper
// -------------------------------------

@mixin button-size($buttonName, $buttonFontSize, $buttonPadding) {
  &.#{$buttonName} {
    font-size: $buttonFontSize;
    padding: $buttonPadding;
  }
}

// Size Palette
@mixin button-size-palette() {
  @include button-size('base', $font-base, nth($size-gutter, 2) nth($size-gutter, 3));
  @include button-size('large', $font-large, nth($size-gutter, 3) nth($size-gutter, 4));
  @include button-size('small', $font-small, nth($size-gutter, 1) nth($size-gutter, 2));
}


// -------------------------------------
//   Button Base
// -------------------------------------

%button-base {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  outline: 0;
  font-weight: $font-weight-bold;
  transition: background 0.3s ease-out,
              color 0.1s ease-out;

  // Size
  @include button-size-palette();
}


// -------------------------------------
//   Button Style
// -------------------------------------

.solid {
  @extend %button-base;
  @include button-color-palette('solid');
}

.ghost {
  @extend %button-base;
  @include button-color-palette('ghost');
}



