// *************************************
//
//   Contact
//
// *************************************

@import "../../utils/variables";
@import "../../utils/mixin";


// -------------------------------------
//   Extend Section CSS
// -------------------------------------

@import "./section";


// -------------------------------------
//   Overwrite Section
// -------------------------------------


// -------------------------------------
//   Contact Form
// -------------------------------------

.contact-form {
  position: relative;
}

.contact-fields {
  display: block;
  padding: nth($size-gutter, 1) 0;

  input[type="text"], 
  input[type="email"], 
  input[type="password"], 
  input[type="number"], 
  textarea {
    position: relative;
    appearance: none;
    background-color: $c-gray-lighter;
    resize: none;
    width: 100%;
    border: 0px solid transparent;
    outline: 0;
    padding: nth($size-gutter, 2);
    transition: box-shadow 0.3s ease-out;

    // Focus
    &:focus {
      // border-color: darken($c-gray-lighter, 3%);
      box-shadow: 0 1px 5px rgba($c-black, 0.2);
    }
  } // END input, textarea

  textarea {
    height: 150px;
    line-height: 1.5;
  }

}

.contact-fields-half {
  display: inline-block;
  width: 50%;
  padding-right: nth($size-gutter, 2);
  &:last-child {
    padding-right: 0;
  }
}


// -------------------------------------
//   RWD
// -------------------------------------

@include bp(mobile) {

  .contact-fields-half {
    display: block;
    width: auto;
    padding: 0;
    padding-bottom: nth($size-gutter, 2);
    &:last-child {
      padding-bottom: 0;
    }
  }

} // END bp(mobile)