// *************************************
//
//   Hero Section
//
// *************************************

@import "../../Utility/variables";
@import "../../Utility/mixin";


// -------------------------------------
//   Extend Section CSS
// -------------------------------------

@import "./section";


// -------------------------------------
//   Overwrite Section
// -------------------------------------

.section {
  height: 100%;
  text-align: center;
  @include inline-vertical();
}

.section-container {
  display: inline-block;
  width: auto;
  max-width: inherit;
  margin: 0 auto;
  padding: 0;
}
