// *************************************
//
//   About
//
// *************************************

@import "../../Utility/variables";
@import "../../Utility/mixin";


// -------------------------------------
//   Extend Section CSS
// -------------------------------------

@import "../Section/section";


// -------------------------------------
//   Overwrite Section
// -------------------------------------

.section-inner {
  width: 80%;
  margin: 0 auto;
}

// -------------------------------------
//   Text
// -------------------------------------

.text {
  line-height: 1.5;
  margin: 0;
}