// *************************************
//
//   App
//
// *************************************

@import "../utils/variables";
@import "../utils/mixin";


// -------------------------------------
//   Body Base
// -------------------------------------

html, body {
  position: relative;
  background-color: $c-gray-lighter;
  color: $c-dark;
  font-family: $font-family;
  font-weight: $font-weight;  
  font-size: $font-base;
  line-height: 1.2;
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

:global * {
  box-sizing: border-box; 
}


// -------------------------------------
//   Layout
// -------------------------------------

// Wrapper 
:global .wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  
  // Fix React 1st div
  > * {
    width: 100%;
    height: 100%;
  }
}

.container {
  width: 100%;
  height: 100%;
}


// -------------------------------------
//   Link & Button
// -------------------------------------

:global a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba($c-black, 0);
}

:global {
  button, 
  input[type="submit"], 
  input[type="reset"] {
    -webkit-tap-highlight-color: rgba($c-black, 0);
  }
}



// -------------------------------------
//   List 
// -------------------------------------

:global ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


// -------------------------------------
//   Image
// -------------------------------------

:global img {
  width: 100%;
  height: auto;
}

// -------------------------------------
//   Icon
// -------------------------------------

:global {
  .icon-small {
    font-size: $font-small;
  }
  .icon-large {
    font-size: $font-large;
  }
}


// -------------------------------------
//   Text
// -------------------------------------

:global {
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
}

:global {
  
  ::selection {
    background-color: rgba($c-compl, 0.8);
    color: $c-light;
  }

}