// *************************************
//
//   Variables
//
// *************************************


// -------------------------------------
//   Colors
// -------------------------------------

$c-light:                 #fff;
$c-dark:                  #444;
$c-black:                 #000;

$c-gray-darker:           lighten(#000, 13.5%) !default; // #222222
$c-gray-dark:             lighten(#000, 25%) !default;   // #404040
$c-gray:                  lighten(#000, 55%) !default;   // #8c8c8c
$c-gray-light:            lighten(#000, 69%) !default;   // #b0b0b0
$c-gray-lighter:          lighten(#000, 96%) !default;   // #f5f5f5

// $c-primary:               #3586DA; // #4babc1
// $c-secondary:             #192746;

$c-primary:               #171933;
$c-secondary:             #343442;
$c-compl:                 #10318E;

$c-stable:                #f5f5f5;
$c-border:                #ccc;


// -------------------------------------
//   Sizes
// -------------------------------------

$size-radius:             5px;
$size-header:             54px;
$size-header-nav:         200px;
$size-container:          960px;

$size-portfolio-height:   200px;
$size-avatar:             100px;
$size-resume-label:       100px;
$size-services-icon:      100px;

$size-gutter:             5px 10px 20px 30px;


// -------------------------------------
//   Effects
// -------------------------------------

$portfolio-zoom:          scale(1.02, 1.02);
$portfolio-zoom-left:     $portfolio-zoom translateX(-1%);
$portfolio-zoom-right:    $portfolio-zoom translateX(1%);
$portfolio-zoom-story:    scale(1.1, 1.1) translateX(-5px) translateY(10px);
$porfolio-zoom-shadow:    0 5px 10px rgba($c-black, 0.5);


// -------------------------------------
//   Fonts
// -------------------------------------

$font-family:             "Open Sans", Helvetica, san-serif;

$font-weight:             400;
$font-weight-bold:        700;
$font-weight-narrow:      200;


$font-base:               14px;
$font-large:              18px;
$font-small:              11px;


// -------------------------------------
//   Z index
// -------------------------------------

$z-layers: (
  "popup":                        9000,
  "fix":                          100,
  "top":                          99,
  "front":                        9,
  "default":                      1,
  "below":                        -1,
  "hidden":                       -9000
);
